.vg-card
{
    background-color: var(--vg-secundary-bg);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    transition: background-color 1s;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none; 
    border: 2px groove var(--vg-secundary-a);

}
.vg-card-body{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--vg-secundary-a);
}

.vg-card-bottom{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    text-align: center;

}

.vg-card:hover{
    background-color: var(--vg-secundary-h);
}
.vg-c-title{
    margin-bottom: 10px;
}

.vg-card-i{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 19px;
    overflow: hidden;
    background-color: var(--vg-secundary-bg);
    border: 2px groove var(--vg-secundary-a);
    transition: background-color 1s;
}

.vg-card-body-i{
    
    width: 100%;


}
.vg-card-image{
    display: flex;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.vg-card-bottom-i{
    padding: 30px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.vg-c-bottom-cont{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; 
}
.vg-c-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    text-align: center;
}
.vg-card-i:hover{

    background-color: var(--vg-secundary-h);
}

.vg-card-b{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none; 
}
.vg-card-body-b{
    position: relative;
    background-color: transparent;
}
.vg-card-image-b{

    height: 100%;
    width: 100%;
    display: block;

}
.vg-card-bottom-b{

    position: absolute;
    bottom: 0;
    left: -1000%;
    display: none;
    justify-content: center;
    align-items: end;
    text-align: left;
    background-color: transparent;
    padding: 20px;
    color: transparent;
    transition: color 1s;
    z-index: -100;
}

.vg-gradient{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;

}

.vg-gradient.mauseOn{

    opacity: 0.7;
    --vg-position:0;
}


.vg-card-bottom-b.mauseOn{

    color: var(--vg-secundary);
    left: 0;
    display: flex;
    z-index: 10;
}