@keyframes movimiento-buttons {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes movimiento-imagen {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.contenedor-header{
    height: 100vh;
    background-color: var(--vg-primary-bg);
    user-select: none;
    border-bottom: 10px solid var(--vg-primary-str);
}

.header-buttons{

    width: 100%;
    display: flex;
    justify-content: right;
    border-bottom: 2px solid var(--vg-primary-str);
    animation: movimiento-buttons 1s ease forwards;
}


.cont-buttons{
    padding: 15px
}

.cont-buttons button{
    margin: 5px;
}


.header-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    animation: movimiento-imagen 1s ease forwards;
}
.cont-image{

    width: 70%;

}
.inicio-imagen{
    width: 100%;
}
.contenedor-cartas{
    margin-top: 100px;
}
.inicio-cards{
    display: flex;
    padding: 10px;
}
.cards{
    margin: 20px;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.cards.visible{
    opacity: 1;
    transform: translateY(0);
}
.card1{
    transition-delay: 0.3s;
}
.card2{
    transition-delay: 0.5s;
}
.card3{
    transition-delay: 0.7s;
}