@keyframes movimiento-buttons {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes movimiento-imagen {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}




.contenedor-header{
    height: 100vh;
    background-color: var(--vg-primary-bg);
    user-select: none;
    border-bottom: 10px solid var(--vg-primary-str);
}

.header-buttons{

    width: 100%;
    display: flex;
    justify-content: right;
    border-bottom: 2px solid var(--vg-primary-str);
    animation: movimiento-buttons 1s ease forwards;
}


.cont-buttons{
    padding: 15px
}

.cont-buttons button{
    margin: 5px;
}


.header-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    animation: movimiento-imagen 1s ease forwards;
}
.cont-image{

    width: 70%;

}
.inicio-imagen{
    width: 100%;
}
.contenedor-cartas{
    margin-top: 250px;
}
.inicio-cards{
    display: flex;
    padding: 20px;
}
.cards{
    margin: 20px;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 33%;
}

.cards.visible{
    opacity: 1;
    transform: translateY(0);
}
.card1{
    transition-delay: 0.1s;
}
.card2{
    transition-delay: 0.2s;
}
.card3{
    transition-delay: 0.3s;
}



.i-imagen-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    box-sizing: border-box;
}

.i-imagen-texto{    

    padding: 50px;
    font-size: 24px;
    width: 40%;

}
.i-imagen-texto h2{
    color: var(--vg-primary-str);
}


.i-imagen-texto p{

    margin-top: 20px;

}

.i-imagen-img{
    width: 60%;
    padding: 25px;
    padding-right: 50px;

}

.i-imagen-img img{

    border: 7px solid var(--vg-primary-str);
    border-radius: 7px;

}


@keyframes movimiento-derecha {

    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes movimiento-izquierda {

    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.i-imagen-texto.visibleImg{

    animation: movimiento-derecha 1s ease forwards;

}

.i-imagen-img.visibleImg{

    animation: movimiento-derecha 1s ease forwards;

}


.i-imagen-texto.visibleImg2{

    animation: movimiento-izquierda 1s ease forwards;

}

.i-imagen-img.visibleImg2{

    animation: movimiento-izquierda 1s ease forwards;

}


.i-imagen-texto.visibleImg3{

    animation: movimiento-derecha 1s ease forwards;

}


.i-imagen-img.visibleImg3{

    animation: movimiento-izquierda 1s ease forwards;

}

.margin-bottom{
    margin-bottom: 150px;
}