:root{
    --vg-primary:#25857d;
    --vg-primary-h: #1e645e ;
    --vg-primary-a: #0f4641 ;
    --vg-secundary: #d4cdad ;
    --vg-secundary-bg: #bd3737 ;
    --vg-secundary-h: #8b2525 ;
    --vg-secundary-a: #661b1b ;
    --vg-primary-str:#255085;
    --vg-secundary-o:#0F0F0F;
    --vg-primary-str-h:#193a63;
    --vg-primary-bg:#98c3a1;
    --vg-darkMode-bg:#161a1b;
}
*{
    margin: 0px;
    padding: 0px;
}
.vg-w50{
    width: 50%;
}
.vg-w100{
    width: 100%;
}
.vg-w25{
    width: 25%;
}
.vg-flex{

    display: flex;

}
.vg-circle{
    border-radius: 50%;
}
.body-background{
    background-color: var(--vg-secundary);
    scrollbar-gutter: both;
    overflow-x: hidden;
}